body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: Helvetica;
}

h1 {
    font-family: 'Bodoni Moda', serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}
header {
    background-color: rgb(121, 87, 0);
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 6px 6px 6px 6px;
    
}

footer {
    background-color: rgb(121, 87, 0);
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: .8em;
    border-radius: 6px 6px 6px 6px;
    
   
   
}

img {
    width: 120px;
    float: right;
    box-shadow: 0px 4px 4px 4px rgb(164, 163, 163);
    border-radius: 0px 6px 0px 0px;
    
}

