img {
    display: grid;
    grid-auto-rows: 400px;
}
img {
    min-width: 150px;
    max-width: 300px;
    background-color: grey;
}
img[data-src] {
    filter: blur(3px);
    
}

img {
    filter: blur(0px);
    transition: filter 0.5s;
}

