img {
    display: grid;
    grid-auto-rows: 400px;
}
img {
    min-width: 150px;
    max-width: 300px;
    background-color: grey;
}
picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

