body {
    background-color: lightgrey;
}
section {
    background-color: rgba(130, 125, 147, 0.721);
    padding: 2rem;
    border: 1px solid black;
    display: block;
    flex-flow: column;
    text-align: center;
}

main div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    text-align: center;
    justify-content: center;
 
}


h1 {
   
    text-align: center;
    color: rgb(93, 93, 165);
}

h2 {
    text-align: center;
    color: rgb(74, 74, 154);
}



span {
    padding: .5rem;
    
}
img {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.214);
    /*'0 0 30px #333';
    style.width = '200px';*/
}
@media only screen and (min-width: 768px) {
   
   .cards {
        display: grid;
   
        grid-template-columns: 1fr 1fr;
   }
    
}
img {
    width: 85%;
}
@media only screen and (min-width: 1200px) {
   .cards {
       display: grid;
   
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
   }
   img {
    width: 85%;
}
}