table, th, td {
    border: 1px solid black;
}
tr th h2 {
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}
tr th {
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}
tr td {
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}

tfoot {
    height: 10px;
}

tr td h6 {
    height: 10px;
    text-align: center;
}